h1 {
    background-color: #4aaaa5;
    font-size: 18pt;
    width: 150px;
    color: #ffffff;
    text-align: center;
    margin-left: 205px;
    float:left;
}
body {
    background-image: url("https://raw.githubusercontent.com/SabrinaThong/Basic-Portfolio/master/assets/images/interlaced.png");
}
header {
    height: 75px;
    width: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;;
    border-bottom: 2px solid #cccccc;

    
}
h2 { 
    color: #4aaaa5;
    margin-left: 25px;
}

  li {
      display: inline;
      padding: 15px;
      
      
  }
ul {
    list-style-type: none;
    
}
.about {
    color: grey;
}
.portfolio {
    color: grey;
}
.contact {
    color: grey;
}
nav a {
    text-decoration: none;
}

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 30px;
  }
nav { 
     font-size: 120%;
    font-weight: bold;
    float: right; 
    width: 960px; 
    height: 30px;
    text-align: right;
    padding-left: 10px;
    border-bottom-color: 1px solid lightgray;
    }
.travel {
    height: 200px;
    width:200px;
    float: left;
    margin: 0 0 40px;
}
.course {
    height: 200px;
    width:200px;
    float: right;
    margin: 0 0 40px;

}
.computer {
    height: 200px;
    width:300px;
    margin: 0 0 40px;
 
}
.camping {
    height: 200px;
    width:200px;
    margin: 0 0 40px;

}
.soccer {
    height: 200px;
    width:200px;
    margin: 0 0 40px;

}


p {
    color: #777777;
}


img {
    float: left;
    padding-right: 10px;
    margin-left: 25px;
}
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}
.main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 50px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
}
* {
    box-sizing: border-box;
}

#wrapper 
    {width: 80%;
    background-color:#ffffff;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgrey;
    height: 500px; }
input[type=text], select, textarea {
        width: 95%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        margin-left: 5px;
      }
#message {
    height: 200px;
}
.column {
    margin-left: 25px;
}
.work {
    position: relative;
    float:left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}
.work:nth-child(even) {
    margin-right: 40px;
}
.work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}
.work h3 {
    position: absolute;
    bottom: 20px;
    width: 264px;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}
.auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}
@media screen and (max-width: 980px) {
    #wrapper {min-width: 0; width:auto; box-shadow: none; border: none;}
}
@media screen and (max-width: 768px) {
    nav {width: auto; text-align: right;}
    p { text-align: center;}
    #wrapper {min-width: 0; width:auto; box-shadow: none; border: none;}
    img { width: 175px; height: 200px;}
    nav li {display: inline;}
    h1 {letter-spacing: 0.1em; margin-left: 0; float: left; margin-top:0;}
    main { margin-left: 0;}
   
}
@media screen and (max-width: 640px) {
    h1 {margin-left: 0; width: 100%; margin-top: 0; }
    nav {float: none; width: auto; padding: 0; text-align: center;}
    #wrapper {min-width: 0; width:auto; box-shadow: none; border: none;}
    img {width:300px; height: 320px;}
    header {float: none;}


}